html {
  color-scheme: light dark;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: system-ui;
}

.App {
  height: 100dvh;
  margin-inline: auto;
  text-align: center;

  /* --primary-color-light: #8696fe;
  --primary-color: #4942e4;
  --secondary-color-light: #fff5b8;
  --secondary-color: #ffe7a0; */
  --primary-color-light: #75e6da;
  --primary-color: #189ab4;
  --secondary-color-light: #d4f1f4;
  --secondary-color: #d4f1f4;
  --dark: black;
  --z-level1: 1;
  --z-level2: 2;
  --z-level3: 3;
  --z-level4: 4;
  --z-level5: 5;
  --add-toplevel-plane: 1000;
  --button-radius: 4rem;
  color: var(--dark);
}

.fullpage {
  height: 100dvh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: end;
  justify-content: center;
}

.direction_column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.space_between {
  justify-content: space-between;
}

button {
  background-color: var(--primary-color-light);
  flex: 1;
  color: #000 !important;
  height: 100%;
  min-width: 50px;
}

.button_container {
  border-radius: 0.5em;
  height: 100%;
}

.primary {
  background-color: var(--primary-color-light);
}

.secondary {
  background-color: var(--secondary-color-light);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.item {
  display: flex;
  background-color: #000;
  text-align: start;
  color: #e4dccf;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  color: #57c5b6;
  padding: 4px;
  overflow: hidden;
}

.leftButton {
  text-align: left;
  height: 100%;
  grid-column: 1/1;
  grid-row: 1/2;
  z-index: 1;
  background-color: var(--primary-color);
  color: white;
}

.center_grid {
  transition: transform 200ms;
  height: 100%;
  width: 100%;
  grid-column: 1/4;
  z-index: var(--z-level2);
  grid-area: 1 / 1 / 2 / span 3;
}

.rightButton {
  z-index: var(--z-level1);
  grid-column: 3/3;
  grid-row: 1/1;
  background-color: red;
  cursor: pointer;
  border: none;
  min-width: 55px;
  text-align: right;
  height: 100%;
  width: 100%;
  color: white;
}

.item-left {
  flex: 2;
  cursor: pointer;
  padding-right: 8px;
  /* transition: background-color 1s linear */
}

.item-left:active {
  background-color: var(--primary-color-light);
}

.item-left:focus {
  background-color: var(--primary-color-light);
}

.item-right {
  flex: 1;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
}

.title_container {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.product {
  font-size: 2em;
  width: max-content;
  scrollbar-width: 2px;
  text-wrap: nowrap;
}

.price {
  font-size: 1.5rem;
}

.subtract {
  background-color: var(--secondary-color-light);
}

.subtract:hover {
  background-color: var(--secondary-color-light);
}

.subtract:active {
  background-color: var(--secondary-color);
}

.add {
  background-color: var(--primary-color-light);
}

.add:hover {
  background-color: var(--primary-color-light);
}

.add:active {
  background-color: var(--primary-color);
}

.item-button {
  font-size: 20px;
  padding: 1rem;
  border: none;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.addGroceries_button {
  position: fixed;
  height: var(--button-radius);
  width: var(--button-radius);
  bottom: 4rem;
  right: 1rem;
  font-size: 40px;
  border-radius: 50%;
  background-color: #57c5b6;
  text-align: center;
  border: none;
  z-index: var(--add-toplevel-plane);
}

.addGroceries_button:active {
  background-color: var(--primary-color);
}

.list_container {
  padding: 0 0.5rem 9rem 0.5rem;
}

.add__item_container {
  position: fixed;
  display: flex;
  height: 100dvh;
  width: calc(100% - 8px);
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: var(--add-toplevel-plane);
  backdrop-filter: blur(10px);
  top: 0;
}

.add__Item {
  background-color: #000;
  border-radius: 1em;
  text-align: start;
  color: #e4dccf;
  width: 80dvw;
}

.form_items {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 1em;
}

.form_row {
  flex: 1;
  flex-grow: 1;
  color: white;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 2em;
}

.flex-1 {
  flex: 1;
}

.small_width {
  max-width: 100px;
}

.marginright-xl {
  margin-right: 24px;
}

.button_margin_top {
  margin-top: 1em;
  padding: 0.5rem 1.6em;
}

.padding-m {
  padding: 8px;
}

.padding-x {
  padding: 16px;
}

.padding-xl {
  padding: 32px;
}

.padding-xxl {
  padding: 64px;
}

input {
  border-radius: 0.5em;
  size: 1em;
  height: 28px;
  min-width: 0;
  font-size: 22px;
  border: none;
  padding: 4px;
  border: none;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.resetDefaultWidth {
  min-width: 0;
}

select {
  border-radius: 0.5em;
  size: 1em;
  height: 35px;
  font-size: 22px;
  border: none;
  padding: 4px;
  border: none;
}

.options_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--primary-color-light);
  color: #000;
}

.option_row {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

.option_description {
  font-size: 24px;
  text-align: center;
  padding-right: 1rem;
}

.flash_image_container {
  font-size: 2rem;
  color: var(--secondary-color);
  padding: 8px;
}


.option_image {
  height: 40px;
  width: 40px;
}

input[type="file"] {
  display: none;
}

.hidden {
  display: none;
}

.camera_container {
  position: relative;
  color: var(--primary-color-light);
}

.videoFrame {
  max-height: 87dvh;
}

.search_container {
  position: fixed;
  bottom: 4rem;
  z-index: 3;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary-color-light);
}

.inner_search_container {
  flex-direction: column;
}

.search_bar_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary-color-light);
}

.searchComp {
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  height: 3rem;
  padding: 4px;
  margin: 4px;
  width: 50dvw;
}

.search_result_item {
  font-size: larger;
  background-color: var(--primary-color-light);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.productItem:focus {
  color: #61dafb;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 1.5rem;
  font-size: 2rem;
}

.grid_3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.font-xl {
  font-size: 2em;
}

.sticky-top {
  position: sticky;
  z-index: var(--z-level3);
  top: 0;
  color: var(--primary-color-light);
  font-weight: bold;
}

.primary_button {
  font-size: 1.5em;
  border-radius: 2em;
  padding: 8px 16px;
}

.menu_container {
  width: fit-content;
  position: relative;
  button {
    all: unset;
  }
}

.header_container {
  color: var(--primary-color-light);
  padding: 0 0.5rem;
  max-height: 48px;
  height: 48px;
  font-weight: bold;
  z-index: var(--z-level4);
}

.right_panel {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: var(--secondary-color);
  z-index: var(--z-level4);
  height: 100dvh;
  width: 255px;
  transition: 0.3s;
  overflow: hidden;
}

.menubutton {
  margin-left: auto;
  width: fit-content;
  padding: 4px;
}

.history_container {
  background-color: black;
}

.paddingright-md {
  padding: 8px;
}

.menuItem {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: var(--secondary-color-light);
  margin: 8px;
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  button {
    all: unset;
  }
  a {
    flex-direction: row;
    color: black;
    text-decoration: none;
    svg {
      padding-right: 8px;
    }
  }

  button,
  a {
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}
.delete_button {
  max-width: 64px;
  padding: 8px;
}

.margin-auto {
  margin: auto;
}

.barcode_image {
  height: 35px;
  width: 35px;
  color: var(--dark);
}

.flash_off {
  color: var(--primary-color);
}
.flash_on {
  color: var(--primary-color-light);
}

.align_to_bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
